# Dependencias
/node_modules
/.pnp
.pnp.js

# Construcción de Next.js
/.next/
/out/

# Producción
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno locales
.env*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de Firebase
.firebase/
