@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 58% 93%;
    --foreground: 233 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 233 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 233 20% 15%;
    --primary: 13 68% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37 30% 85%;
    --secondary-foreground: 233 20% 30%;
    --muted: 37 30% 85%;
    --muted-foreground: 233 10% 45%;
    --accent: 233 20% 30%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 13 20% 85%;
    --input: 13 20% 85%;
    --ring: 13 68% 62%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 233 20% 10%;
    --foreground: 37 58% 93%;
    --card: 233 20% 12%;
    --card-foreground: 37 58% 93%;
    --popover: 233 20% 12%;
    --popover-foreground: 37 58% 93%;
    --primary: 13 68% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 15% 20%;
    --secondary-foreground: 37 58% 93%;
    --muted: 233 15% 20%;
    --muted-foreground: 37 20% 65%;
    --accent: 13 50% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 15% 25%;
    --input: 233 15% 25%;
    --ring: 13 68% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
